COMPOSE_PROJECT_NAME=batch-local
TZ=Asia/Shanghai

POSTGRES_IMAGE_TAG=16
POSTGRES_DB=batch_platform
POSTGRES_USER=batch_user
POSTGRES_PASSWORD=batch_pass_123
POSTGRES_PORT=15432
BUSINESS_DB_NAME=batch_business
BUSINESS_DB_SCHEMA=biz

KAFKA_IMAGE_TAG=4.1.2
KAFKA_HOST_PORT=9092
KAFKA_DEFAULT_PARTITIONS=3
KAFKA_TOPICS=batch.task.dispatch.import,batch.task.dispatch.export,batch.task.dispatch.dispatch,batch.task.result,batch.task.retry,batch.task.dead-letter

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=batch-dev
