<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.console.mapper.AuditLogMapper">
    <select id="selectByQuery" resultType="map">
        select
            id,
            tenant_id,
            file_id,
            operation_type,
            operation_result,
            operator_type,
            operator_id,
            trace_id,
            evidence_ref,
            detail_summary,
            created_at
        from batch.file_audit_log
        where tenant_id = #{tenantId}
        <if test="cursorId != null">
            and id &lt; #{cursorId}
        </if>
        <if test="operationType != null and operationType != ''">
            and operation_type = #{operationType}
        </if>
        <if test="operationResult != null and operationResult != ''">
            and operation_result = #{operationResult}
        </if>
        <if test="operatorId != null and operatorId != ''">
            and operator_id like concat('%', #{operatorId}, '%')
        </if>
        <if test="fileId != null">
            and file_id = #{fileId}
        </if>
        <if test="traceId != null and traceId != ''">
            and trace_id like concat('%', #{traceId}, '%')
        </if>
        <if test="fromTime != null">
            and created_at &gt;= #{fromTime}
        </if>
        <if test="toTime != null">
            and created_at &lt;= #{toTime}
        </if>
        order by id desc
        <choose>
            <when test="cursorId != null">
                limit #{pageRequest.pageSize}
            </when>
            <otherwise>
                <include refid="com.example.batch.common.mapper.CommonFragments.offsetPageClause"/>
            </otherwise>
        </choose>
    </select>

    <select id="countByQuery" resultType="long">
        select count(1)
        from batch.file_audit_log
        where tenant_id = #{tenantId}
        <if test="operationType != null and operationType != ''">
            and operation_type = #{operationType}
        </if>
        <if test="operationResult != null and operationResult != ''">
            and operation_result = #{operationResult}
        </if>
        <if test="operatorId != null and operatorId != ''">
            and operator_id like concat('%', #{operatorId}, '%')
        </if>
        <if test="fileId != null">
            and file_id = #{fileId}
        </if>
        <if test="traceId != null and traceId != ''">
            and trace_id like concat('%', #{traceId}, '%')
        </if>
        <if test="fromTime != null">
            and created_at &gt;= #{fromTime}
        </if>
        <if test="toTime != null">
            and created_at &lt;= #{toTime}
        </if>
    </select>
</mapper>
