<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.console.domain.file.mapper.FilePipelineStepRunMapper">
    <select id="selectByQuery" resultType="map">
        select
            s.id,
            s.pipeline_instance_id,
            s.step_code,
            s.stage_code,
            s.run_seq,
            s.step_status,
            s.input_summary,
            s.output_summary,
            s.error_code,
            s.error_message,
            s.error_key,
            s.error_args,
            s.retry_count,
            s.duration_ms,
            s.started_at,
            s.finished_at
        from batch.pipeline_step_run s
        join batch.pipeline_instance p on p.id = s.pipeline_instance_id
        where p.tenant_id = #{tenantId}
        <if test="pipelineInstanceId != null">
            and s.pipeline_instance_id = #{pipelineInstanceId}
        </if>
        <if test="stepCode != null and stepCode != ''">
            and s.step_code = #{stepCode}
        </if>
        <if test="stageCode != null and stageCode != ''">
            and s.stage_code = #{stageCode}
        </if>
        <if test="stepStatus != null and stepStatus != ''">
            and s.step_status = #{stepStatus}
        </if>
        order by s.pipeline_instance_id desc, s.id desc
        <if test="pageRequest != null">
            limit #{pageRequest.pageSize} offset (#{pageRequest.pageNo} - 1) * #{pageRequest.pageSize}
        </if>
    </select>

    <select id="countByQuery" resultType="long">
        select count(1)
        from batch.pipeline_step_run s
        join batch.pipeline_instance p on p.id = s.pipeline_instance_id
        where p.tenant_id = #{tenantId}
        <if test="pipelineInstanceId != null">
            and s.pipeline_instance_id = #{pipelineInstanceId}
        </if>
        <if test="stepCode != null and stepCode != ''">
            and s.step_code = #{stepCode}
        </if>
        <if test="stageCode != null and stageCode != ''">
            and s.stage_code = #{stageCode}
        </if>
        <if test="stepStatus != null and stepStatus != ''">
            and s.step_status = #{stepStatus}
        </if>
    </select>
</mapper>
