<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.console.mapper.FileTemplateConfigMapper">
    <select id="selectByQuery" resultType="map">
        select
            id,
            tenant_id,
            template_code,
            template_name,
            template_type,
            biz_type,
            file_format_type,
            charset,
            target_charset,
            with_bom,
            line_separator,
            delimiter,
            quote_char,
            escape_char,
            record_length,
            header_rows,
            footer_rows,
            header_template,
            trailer_template,
            checksum_type,
            compress_type,
            encrypt_type,
            naming_rule,
            field_mappings,
            validation_rule_set,
            default_query_code,
            default_query_sql,
            query_param_schema,
            streaming_enabled,
            page_size,
            fetch_size,
            enabled,
            version,
            description,
            created_by,
            updated_by,
            created_at,
            updated_at
        from batch.file_template_config
        where tenant_id = #{tenantId}
        <if test="templateCode != null and templateCode != ''">
            and template_code = #{templateCode}
        </if>
        <if test="templateType != null and templateType != ''">
            and template_type = #{templateType}
        </if>
        <if test="enabled != null">
            and enabled = #{enabled}
        </if>
        order by template_code asc, version desc
    </select>
</mapper>
