<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.console.mapper.FileErrorRecordMapper">
    <resultMap id="FileErrorRecordResultMap" type="com.example.batch.console.domain.entity.FileErrorRecordEntity">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="file_id" property="fileId"/>
        <result column="pipeline_instance_id" property="pipelineInstanceId"/>
        <result column="pipeline_step_run_id" property="pipelineStepRunId"/>
        <result column="record_no" property="recordNo"/>
        <result column="error_code" property="errorCode"/>
        <result column="error_message" property="errorMessage"/>
        <result column="error_stage" property="errorStage"/>
        <result column="is_skipped" property="skipped"/>
        <result column="skip_action" property="skipAction"/>
        <result column="raw_record" property="rawRecord"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="selectByQuery" resultMap="FileErrorRecordResultMap">
        select *
        from batch.file_error_record
        where tenant_id = #{tenantId}
        <if test="fileId != null">
            and file_id = #{fileId}
        </if>
        <if test="errorStage != null and errorStage != ''">
            and error_stage = #{errorStage}
        </if>
        <if test="errorCode != null and errorCode != ''">
            and error_code = #{errorCode}
        </if>
        <if test="skipped != null">
            and is_skipped = #{skipped}
        </if>
        order by id desc
        <if test="pageRequest != null">
            limit #{pageRequest.pageSize} offset (#{pageRequest.pageNo} - 1) * #{pageRequest.pageSize}
        </if>
    </select>

    <select id="countByQuery" resultType="long">
        select count(1)
        from batch.file_error_record
        where tenant_id = #{tenantId}
        <if test="fileId != null">
            and file_id = #{fileId}
        </if>
        <if test="errorStage != null and errorStage != ''">
            and error_stage = #{errorStage}
        </if>
        <if test="errorCode != null and errorCode != ''">
            and error_code = #{errorCode}
        </if>
        <if test="skipped != null">
            and is_skipped = #{skipped}
        </if>
    </select>
</mapper>
