<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.batch.console.domain.ops.mapper.OutboxRetryLogMapper">
    <select id="selectByQuery" resultType="map">
        select *
        from batch.event_outbox_retry
        where 1 = 1
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="retryStatus != null and retryStatus != ''">
            and retry_status = #{retryStatus}
        </if>
        <if test="eventKey != null and eventKey != ''">
            and event_key = #{eventKey}
        </if>
        order by id desc
        <if test="pageRequest != null">
            limit #{pageRequest.pageSize} offset (#{pageRequest.pageNo} - 1) * #{pageRequest.pageSize}
        </if>
    </select>

    <select id="countByQuery" resultType="long">
        select count(1)
        from batch.event_outbox_retry
        where 1 = 1
        <if test="tenantId != null and tenantId != ''">
            and tenant_id = #{tenantId}
        </if>
        <if test="retryStatus != null and retryStatus != ''">
            and retry_status = #{retryStatus}
        </if>
        <if test="eventKey != null and eventKey != ''">
            and event_key = #{eventKey}
        </if>
    </select>

    <select id="countByStatuses" resultType="long">
        select count(1)
        from batch.event_outbox_retry
        where tenant_id = #{tenantId}
          and retry_status in
        <foreach collection="statuses" item="status" open="(" close=")" separator=",">
            #{status}
        </foreach>
    </select>
</mapper>
